[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    no-self-use,
    duplicate-code

[TYPECHECK]
ignored-classes=
    scoped_session,
    SQLAlchemy,
    lxml.builder.ElementMaker
extension-pkg-whitelist=
    lxml

[OPTIONS]
generated-members=
    crayons.*
